/* .App {
  text-align: center;
}

body {
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.banner-img {
  transition: transform 0.3s ease;
}

.banner-img:hover {
  transform: scale(1.3); 
}

.btn-outline-light.pink-text {
  color: rgb(189, 113, 126); 
}

.btn-outline-light.pink-text:hover {
  color: purple; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e710f3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
